body {
  font-family: $text_font;
}

h1, h3, h4, h5, h6 {
  font-family: $title_font;
}

a.btn-primary {
  display: inline-block;
  font-size: $font_size * 1.4;
  font-weight: $font_weight + 200;
  padding: $padding_unit / 2 $padding_unit;
  @include transition_hover;
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Small 576px sm */
@media screen and (min-width: 576px) {

}

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {

}

/* Breakpoint Large 992px lg */
@media screen and (min-width: 992px) {

}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {

}
