// ----------------------------- Images -----------------------------

$jumbotron_bg: url('/img/jumbotron.jpg');
$footer_top_bg: url('/img/footer-bg.jpg');
$footer_top_bg_logo: url('/img/dc-logo-bg.png');
