footer {
  color: $footer_text_color;

  .footer-top {
    background-image: $footer_top_bg;
  }

  .footer-bottom {
    background-color: $secondary_bg_color;

    .footer-bottom-mobile {
      display: block;
      font-size: $font_size;
      font-weight: $font_weight;
      padding: $padding_unit / 2 0;

      p {
        a {
          color: $primary_color;
        }

        &:last-of-type {
          padding-top: $padding_unit / 2;
        }
      }
    }

    .footer-bottom-tablet {
      display: none;
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {

  footer {
    .footer-bottom {

      .footer-bottom-mobile {
        display: none;
      }

      .footer-bottom-tablet {
        display: block;
      }
    }
  }
}
