header {
  .header-mobile-tablet {
    width: 100%;
    display: block;
    background-color: $third_color;
    height: $height_header_mobile;
    border-bottom: 1px solid $border_color;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    .header-small-wrapper {
      height: $height_header_mobile;

      .burger-icon {
        i {
          cursor: pointer;
        }
      }

      .logo {
        height: $height_unit / 2.3;

        a {
          display: block;
          height: 100%;

          img {
            height: 100%;
          }
        }
      }

      .search {
        i {
          cursor: pointer;
        }
      }
    }
  }

  .header-xl-desktop {
    display: none;
  }

  #header-top {
    background-color: $primary_color;
    height: $height_header_top;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    ul li {
      display: inline-block;
      font-size: $font_size;
      margin-left: $margin_unit * 4;
      font-weight: $font_weight;

      a {
        display: block;
        color: $third_color;
        font-family: $title_font;
        padding: $padding_unit / 3 0;

        span {
          font-size: $font_size / 1.2;
        }
      }

      &:last-child a::after {
        @include before-after;
        content: '\f0d7';
        margin-left: $margin_unit / 2;
      }
    }
  }

  nav {
    height: $height_nav;
    width: 100%;
    background-color: $third_color;
    border-bottom: 1px solid $border_color;
    position: fixed;
    top: $height_header_top;
    left: 0;
    z-index: 1;

    .nav-wrapper {
      width: 100%;
      height: $height_nav;

      .logo {

        a {
          display: block;
          height: $height_unit;
          margin: $margin_unit * 2;

          img {
            height: 100%;
          }
        }
      }

      .nav-menu {
        height: 100%;

        ul {
          display: block;
          height: 100%;

          li {
            height: 100%;
            line-height: $height_nav;
            display: inline-block;
            font-size: $font_size + 2;
            font-weight: $font_weight + 300;
            padding: 0 $padding_unit / 2;

            a {
              display: block;
              height: 100%;
              font-family: $title_font;
              color: $secondary_color;
              @include transition_hover;

              &:hover,
              &.active {
                color: $primary_color;
                border-bottom: 5px solid $primary_color;
              }
            }

            &:last-child a::after {
              @include before-after;
              content: '\f0d7';
              color: $primary_color;
              margin-left: $margin_unit / 2;
            }
          }
        }
      }

      .search {
        border-bottom: 2px solid $primary_color;

        input#search-product {
          border: 0;
          color: #000;
          font-family: $title_font;
          font-size: $font_size + 2;
          font-weight: $font_weight + 300;
          outline: none;
          width: $width_unit;
          padding-left: $padding_unit;
        }
      }
    }
  }

  #jumbotron {
    background-color: #000;

    .jumbo-top {
      height: $height_header_mobile;
    }

    .jumbo-bottom {
      background-image: $jumbotron_bg;
      background-size: cover;
      background-position: center;
      padding: $padding_unit * 10;
    }
  }
}

/* ------------------- MEDIA QUERY ------------------- */

/* Breakpoint Medium 768px md */
@media screen and (min-width: 768px) {
  header {
    #jumbotron {
      .jumbo-bottom {
        background-position: top;
      }
    }
  }
}

/* Breakpoint Extra Large 1200px xl */
@media screen and (min-width: 1200px) {
  header {
    .header-mobile-tablet {
      display: none;
    }

    .header-xl-desktop {
      display: block;
    }

    #jumbotron {
      .jumbo-top {
        height: $height_nav + $height_header_top;
      }
    }
  }
}
