// ---------------------------  Variables ----------------------------

// Font
$title_font: 'Open Sans', sans-serif; // 300;400;600;700;800
$text_font: 'Open Sans Condensed', sans-serif; // 300;700

// Colors

// Dimensions

// Margins & Padding

// Transition times
$hover_time: 0.25s;
